

.footer-logo-wrap {
    display: block;
}

.footer-text {
    // max-width: 426px;
    font-family: 'Cera Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #F6F6F6;
    opacity: 0.6;
}