.tree {
  display: flex;
}

.spec {
  width: 282px;
  height: 812px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 35px 15px;
  margin: 15px;
  background-image: url(../images/specs/41.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.skill {
  display: block;
  margin: 5px;

  width: 42px;
  height: 42px;
  border: 2px solid #4E4E4E;
  border-radius: 8px;

  // background-image: url(../images/icon-meta/medium/default.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  :hover {
    // background-image: url(../images/icon-meta/medium/gold.png);
    // border: 1px solid white;
  }
}

.empty {
  display: block;
  margin: 5px;
  width: 40px;
  height: 40px;
}
