.tree {
  display: flex;
}

.spec {
  width: 282px;
  height: 812px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 35px 15px;
  background-image: url(../images/cards/card-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.skill {
  display: block;
  margin: 6px;
  width: 42px;
  height: 42px;
  border: 2px solid #4e4e4e;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  :hover {
    // background-image: url(../images/icon-meta/medium/gold.png);
    // border: 1px solid white;
  }
}

.empty {
  display: block;
  margin: 5px;
  width: 40px;
  height: 40px;
}


// Variable
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}