.tree {
  display: flex;
}

.spec {
  height: 588;
  width: 224px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 8px;
  background-image: url(../images/specs/41.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px;
}

.skill {
  display: block;
  margin: 5px;
  background-image: url(../images/icon-meta/medium/default.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;

  :hover {
    background-image: url(../images/icon-meta/medium/gold.png);
    border: 1px solid white;
  }
}

.empty {
  display: block;
  margin: 5px;
  width: 40px;
  height: 40px;
}
