.arrow {
  display: block;
  position: relative;
  background-position: center right;
  background-repeat: no-repeat;
}

.arrow-down {
  background-position-x: center;
  background-position-y: bottom;
}

.arrow-left {
  float: right;
  background-position-y: center;
  background-position-x: left;
  background-repeat: no-repeat;
}

.arrow-right {
  float: left;
  background-position-y: center;
  background-position-x: right;
  background-repeat: no-repeat;
}
