.tree {
  width: 100%;
}

.spec-wrapper {
  border: 1px solid #4E4E4E;
  border-radius: 12px;
  margin-bottom: 20px;
  width: 282px;
}

.spec-header {
  padding: 12px;
  background: #27272F;
  height: 68px;
}

.spec-icon {
  border: 2px solid #4E4E4E;
  border-radius: 8px;
  margin-right: 8px;
}

.spec-name {
  color: #F6F6F6;
}

.spec-reset {
  display: block;
  background: #B2B2C0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  margin-left: 8px;
}

.wrap-point,
.spec-points {
  color: rgba(82, 209, 72, 1);
}

.badge {
  position: absolute;
  width: 25px;
  height: 14px;
  border-radius: 2px;
  right: -8px;
  bottom: -7px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  color: #f6f6f6;
  background: #16161c;

  &:hover {
    border: none;
    background: #16161c;
  }
}


// Glyphs
.glyphs-wrap {
  width: 282px;
  height: 882px;
}

.content-glyphs {
  background: #1B1B22;
  border: 1px solid #4E4E4E;
  border-radius: 12px;
}

.glyphs {
  padding: 35px 15px;
}

.btn-group {
  text-align: center;
  text-transform: uppercase;
}

.btn-clear,
.btn-copy {
  color: #F6F6F6;
  font-family: 'Cera Pro';
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  border-radius: 8px;
  padding: 22px;
  width: 100%;
  max-width: 250px;
  text-transform: uppercase;
  height: 60px;
  cursor: pointer;
}

.btn-clear {
  border: 2px solid #007AD0;
  filter: drop-shadow(0px 4px 26px rgba(0, 0, 0, 0.44));
  background: transparent;
  margin-bottom: 16px;
}

.btn-copy {
  border: 0;
  background: #007BD0;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.44);
}