.spec-wrapper {
  margin: 15px;
  background: #27272F;
  border: 1px solid #4E4E4E;
  border-radius: 12px;
}

.spec-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.spec-icon {
  border: 2px solid #4E4E4E;
  border-radius: 8px;
  margin-right: 8px;
}

.spec-name {
  color: #F6F6F6;
}

.spec-reset {
  display: block;
  background: #B2B2C0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.spec-points {
  color: rgba(82, 209, 72, 1);
  margin-right: 8px;
}

.badge {
  position: absolute;
  width: 25px;
  height: 14px;
  border-radius: 2px;
  right: -8px;
  bottom: -7px;

  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #f6f6f6;
  background: #16161c;

  &:hover {
    border: none;
    background: #16161c;
  }
}
